<div class="container">
    <div class="bs-component">
        <h2>Corrida do Dino</h2>
        <img src="img/trex.jpg" alt="trex" width="200px" height="200px">
        <p>
            Corrida do Dino é um jogo emocionante e envolvente que captura a essência do clássico
            jogo do dinossauro do Google Chrome, proporcionando uma experiência de corrida única e desafiadora. No
            entanto, ao contrário do jogo do Google, "Corrida do Dino" oferece a liberdade de ser jogado a qualquer
            momento, sem depender da ausência de conexão com a internet.
        </p>

        <p>
            Neste jogo, os jogadores assumem o controle de um ágil dinossauro que corre em alta velocidade por um
            deserto interminável. O objetivo é desviar dos obstáculos, como cactos e outras criaturas pré-históricas, ao
            mesmo tempo em que se mantém no caminho o máximo possível para atingir a maior pontuação.
        </p>

        <p>
            Com controles responsivos e uma jogabilidade intuitiva, este jogo desafia os reflexos e a rapidez dos
            jogadores, proporcionando uma experiência empolgante e viciante. Prepare-se para uma corrida emocionante,
            onde a única regra é superar seus próprios recordes e competir com amigos para ver quem alcança a maior
            distância na corrida do Dino!
        </p>
    </div>
</div>